/* .prompt {
    width: 50%;
    margin: 10% auto;
    border: 1px solid grey; 
} */
.createStory form {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 30px auto 20px auto;
    width: 300px;
    text-align: center;
}
.prompt {
    width: 50%;
    margin: 200px auto 20px auto;
    border: 1px solid grey;
}

.prompt h2 {
    text-align: center; 

}

.prompt p{
    padding: 20px; 
}

.prompt button {
    display: block;
    margin: 50px auto;
}

.button_section{
    text-align: center;  
  }

#submit_button{
    height: 50px;
    width: 150px; 
    text-align: center; 
    font-family: unset;
    font-size: 16px;
    border:none; 
    background-color: teal;
    font-size: 16px;
    border-radius: 3px;
    margin: 40px 10px; 
}