.buttonPanel {
    position: relative;
    margin-top: 100px;
    bottom: -250px;
  }
  
  .tagline{
    font-style: italic; 
    margin-top: 10px; 
  }

  .buttonPanel .button img{
    width: 25px;
  }

  .pageTitle {
  margin-top: 200px;
  text-align: center;
  font-family: 'Roboto'; 
  font-size: 30px; 
  text-decoration: underline; 
}

.stories-wrapper button{
  height: 50px;
  width: 150px;
  color: white; 
  text-align: center;
  font-family: unset;
  border:none;  
  background-color: teal;
  font-size: 16px;
  border-radius: 3px;
  margin: 0px 10px; 
}

.stories-wrapper button:hover{
  box-shadow: 2px 3px 3px 0px grey;
  cursor: pointer;
}
  
.button_wrapper{
  text-align: center;  
}

/* .button_wrapper button{
} */

