
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:700|Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Cinzel Decorative', sans-serif, cursive; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
